.container { 
    display: flex;
    flex-direction: column;
}
.modalInput { 
    width: 95%;
    border-radius: 5px;
}
.modalTextArea {
    transition-duration: 500ms;
    height: 3.5vh;
    width: 95%; 
    border-radius: 5px;
}
.modalTextAreaMediumHeight {
    transition-duration: 500ms;
    height: 20vh; 
}
.modalTextAreaLargeHeight {
    transition-duration: 500ms;
    height: 50vh; 
}
.closeButtonContainer { 
    width: 50%;
    /* align-self: center; */
    float: right;
    padding-top: 2vh;
}
.closeButton {
    border-radius: 5px;
    float: right
}