.container { 
    display: flex;
    flex-direction: column;
}
.modalInput { 
    width: 95%;
    border-radius: 5px;
}
.modalTextArea {
    transition-duration: 500ms;
    height: 3.5vh;
    width: 95%; 
    border-radius: 5px;
}
.modalTextAreaMediumHeight {
    transition-duration: 500ms;
    height: 20vh; 
}
.modalTextAreaLargeHeight {
    transition-duration: 500ms;
    height: 50vh; 
}
.radioTitle {
    display: flex;
    font-family:'Courier New', Courier, monospace;
}
.newItemButton {
    padding-left: 5vw;
    font-size: large;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
.closeButtonContainer { 
    width: 50%;
    float: right;
    padding-top: 2vh;
}
.closeButton {
    border-radius: 5px;
    float: right
}
.validationWarning {
    color: red;
}