.container { 
    display: flex;
    flex-direction: column;
}
.modalInput { 
    width: 95%;
    border-radius: 5px;
}
.modalTextArea {
    width: 95%; 
    height: 20vh; 
    border-radius: 5px;
}
.closeButtonContainer { 
    align-self: center;
    padding-top: 2vh;
}
.closeButton {
    border-radius: 5px;
}