.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottomButton {
    text-decoration: none;
    border: none;
    background: none;
    padding-bottom: 1vh;
}
.actionWord {
    color: var(--actionButton-color);
    padding-right: .05vw;
    cursor: pointer;
}
.modalInput {
    height: 3.5vh;
    padding-left: 10px;
    margin-bottom: 10px;
    border-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    outline-color: var(--actionButton-color);
    outline-width: 2px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-size: large;
}
.modalInput:focus {
    outline-style: solid;
}
.submitButton {
    height: 30px;
    align-self: center;
    border-radius: .5vh;
    border-color: transparent;
    box-shadow: 1px 1px 2.5px black;
    background-color: var(--actionButtonLight-color);
    margin-bottom: 1vh;
}