.container {
  width: 100vw;
  margin-top: -6vh;
  background-color: var(--primary-color);
  position: relative;
  z-index: 100;
  box-shadow: 1px 2px 10px black;
}
.footerTextContainer {
  position: relative;
  z-index: 100;
  justify-content: center;
  padding-bottom: .5vh;
}
.footerText {
  align-self: center;
  padding-top: 1.5vh;
  margin-bottom: 1.5;
}
.logout {
  border-radius: 25px;
  background-color: white;
}
