.container {
  height: 5vh;
  width: 100vw;
  margin-top: -6vh;
  background-color: var(--primary-color);
  position: relative;
  z-index: 100;
  box-shadow: 1px 0.5px 10px black;
}
.footerTextContainer {
  position: relative;
  z-index: 100;
  justify-content: center;
}
.footerText {
  align-self: center;
  padding-top: 1.5vh;
}
