.container {
    display: flex !important;
    flex-direction: row !important;
    height: 100px;
    width: 100vw;
    background-color: var(--primary-color);
    position: relative;
    z-index: 100;
    box-shadow: 2px -5px 20px black;
}
.smallContainer {
    /* display: flex !important; */
    /* flex-direction: row !important; */
    height: 100px;
    width: 100vw;
    background-color: var(--primary-color);
    position: relative;
    z-index: 100;
    box-shadow: 2px -5px 20px black;
}
.logoContainer {
  display: flex;
  flex: 1;
}
.smallLogoContainer {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}
.logo {
  margin-top: 0;
  font-family:'Courier New', Courier, monospace;
  flex: 1;
  align-self: center;
  animation: fadeIn 3s;
}
.smallLogo {
  margin-top: 0;
  margin-bottom: 0;
  font-family:'Courier New', Courier, monospace;
  flex: 16;
  animation: fadeIn 3s;
}
.bookContainer {
  display: flex !important;
  flex: 3;
  justify-content: space-around;
}
.smallBookContainer {
  display: flex !important;
  justify-content: center;
}
.item {
    display: flex;
    align-self: center;
    margin-left: .5vw;
    font-size: large;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
.smallItem {
    display: flex;
    align-self: center;
    margin-left: .5vw;
    font-size: large;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
.active {
    color: var(--activeButton-color);
    text-shadow: var(--text-shadow);
    font-weight: 600;
}
.rightSideContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: .8vh;
}
.rightSideContainerItems {
  padding-right: 1vw;
}
.logOut {
    font-family:'Courier New', Courier, monospace;
    align-self: center;
    width: 15%;
    cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

