.container {
    display: flex !important;
    flex-direction: row !important;
    height: 100px;
    width: 100vw;
    background-color: var(--primary-color);
    position: relative;
    z-index: 100;
    box-shadow: 2px -5px 20px black;
}
.itemContainer {
    display: flex !important;
    flex: 3;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
    padding-right: -5vw;
}
.item {
    display: flex;
    align-self: center;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
.active {
    color: var(--activeButton-color);
    text-shadow: 2px 2px 5px black;
}
.logo {
    font-family:'Courier New', Courier, monospace;
    flex: 1;
    align-self: center;
    animation: fadeIn 3s;
}
.logOut {
    font-family:'Courier New', Courier, monospace;
    align-self: center;
    width: 15%;
    cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
