.container {
  display: flex !important;
  flex-direction: row !important;
  height: 100px;
  width: 100vw;
  background-color: var(--primary-color);
  position: relative;
  z-index: 100;
  box-shadow: 2px -5px 20px black;
  -webkit-tap-highlight-color: transparent;
}
svg {
  color: var(--actionButton-color)
}
.smallContainer {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  width: 100vw;
  background-color: var(--primary-color);
  position: relative;
  z-index: 1000;
  box-shadow: 2px -2px 20px black;
  -webkit-tap-highlight-color: transparent;
}
.smallLogoContainer {
  display: flex;
  flex-direction: column;
}
.smallInput {
  border-radius: 25px;
  font-size: medium;
  outline: none;
  padding-left: 20px;
}
.smallNewButton {
  background-color: white;
  border-radius: 5px;
  font-weight: 400;
  color: hsl(0, 0%, 25%);
  font-size: medium;
  margin-top: 2px;
  padding-right: 10vw;
  height: 38px;
  width: 100%;
  position: relative;
  box-shadow: 1px 10px 10px rgba(0,0,0,0.4);
}
.slideContainer {
  display: flex;
  background-color: var(--primary-color);
  align-items: flex-end;
  padding-left: 1vw;
  border-bottom-left-radius: .5vh;
  border-bottom-right-radius: .5vh;
}
.slideOpen {
  height: 208px;
  transition: ease-out;
  transition-duration: 500ms;
  padding-bottom: .5vh;
}
.slideClosed {
  height: 0;
  transition: ease-in;
  transition-duration: 500ms;
}
.logoContainer {
  display: flex;
  flex: 1;
  width: 60%;
}
.logo {
  flex: 1;
  align-self: center;
  animation: fadeIn 3s;
}
.searchContainer {
  display: flex;
  flex: 5;
  width: 100%;
  align-items: center;
}
.largeSearchInput {
  height: 40px;
  width: 100%;
  border-radius: 25px;
  border-color: transparent;
  background-color: var(--secondary-color);
  outline-width: 2px;
  outline-color: var(--actionButton-color);
}
.largeSearchInput:focus {
  outline-style: solid;
}
input[type='search' i]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  cursor: pointer;
  height: 8px;
  width: 8px;
  background: var(--search-clear);
}
.bookContainer {
  display: flex !important;
  flex: 4;
  justify-content: space-around;
}
.item {
  display: flex;
  align-self: center;
  font-size: large;
  font-weight: 500;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
.rightSideContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active {
  color: var(--activeButton-color);
  text-shadow: var(--text-shadow);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
