.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  color: white;
  text-align: left;
}
.note {
  border-bottom: solid white 2px;
  padding-bottom: 30px;
}
.groupSeparator {
  color: var(--actionButton-color);
  text-shadow: var(--text-shadow);
  margin-bottom: 0;
}
hr {
  margin-bottom: 0;
}
pre {
  background-color: #0d1117;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid grey;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
mark {
  background-color: green;
}
a {
  color: red;
}
.noteDetailContainer {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  background-color: var(--secondary-color);
  overflow-y: hidden;
  padding-left: 1vw;
  padding-right: 1vw;
}
.descriptionContainer {
  display: flex;
  flex-direction: row;
  height: 45px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}
.detailOpen {
  padding-top: 8px;
  transition: ease-out;
  transition-duration: 500ms;
  height: 25px;
  transition-duration: 500ms;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.detailClosed {
  transition: ease-in;
  transition-duration: 500ms;
  height: 0.1px;
}
.description {
  padding-right: 2px;
  margin-bottom: -10px;
}
.buttonContainer {
  display: flex;
  padding-bottom: 5px;
}
.customButton {
  background-color: white;
  border-radius: 5px;
  font-weight: 400;
  color: hsl(0, 0%, 25%);
  font-size: small;
}
.editButton {
  align-self: center;
  padding-right: 1.5vw;
}
.instructions {
  display: flex;
  align-items: center;
  flex-direction: column;
}
