.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;
  overflow-y: scroll;
  color: white;
  text-align: left;
}
.note {
  padding: 5px;
  border-bottom: solid white 2px;
  padding-bottom: 30px;
  animation: fadeIn 1.5s;
}
pre {
  background-color: #0d1117;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid grey;
}
mark {
  background-color: green;
}
a {
  color: red;
}
.noteDetailContainer {
  justify-content: space-between;
  display: flex;
}
.descriptionContainer {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.description {
  padding-right: 10px;
  margin-bottom: -10px;
}
.editButton {
  align-self: center;
}
.instructions {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
