.noteInputContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.noteInput { 
    width: 95%;
    border-radius: .5vh;
    border-color: transparent;
    outline-color: var(--actionButton-color);
    background-color: var(--secondary-color);
    color: var(--font-color);
}
.noteInput:focus {
    outline-style: solid;
    outline-width: 2px;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}
.inputButtons {
    padding: 1vh;
    margin-top: .5vh;
    border-radius: 5px;
    border-width: 1px;
}
.confirmButton {
    background-color: var(--actionButton-color);
    cursor: pointer;
}
.cancelButton {
    background-color: var(--secondary-color);
    border-style: none;
    cursor: pointer;
}
