.container {
  display: flex;
  padding-top: 1px;
  height: 100vh;
  background-color: #a9a9a9;
  justify-content: flex-end;
}
.open {
  position: inherit;
  transition: ease-out;
  transition-duration: 200ms;
  width: 200px;
}
.closed {
  transition: ease-in;
  transition-duration: 200ms;
  width: 22px;
}
.grabberBar {
  display: flex;
  align-items: center;
  height: 90vh;
  background-color: #8c8a8a;
  margin-top: -1px;
  box-shadow: -5px 15px 30px black;
}
.grabber {
  cursor: pointer;
  background-color: #696969;
  border-radius: 5px;
  border: 1px solid black;
  width: 20px;
}
.itemContainer {
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.item {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
