.bar {
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: #8c8a8a;
    margin-top: -1px;
    box-shadow: 2px 1px 20px black;
    position: relative;
    z-index: 10;
    width: 20px;
  }
  .innerBar {
    width: 20px;
  }