.bar {
    display: flex;
    align-items: center;
    background-color: var(--tertiary-color);
    margin-top: -1px;
    box-shadow: 2px 1px 20px black;
    position: relative;
    z-index: 10;
    width: 20px;
  }
  .innerBar {
    width: 20px;
  }