.container {
  text-align: center;
  background-color: var(--background-color);
  width: 100vw;
}
.leftSideBarContainer {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  float: left;
}
.rightSideBarContainer {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  float: right;
}