:root {
  /* header and footer */
  --primary-color: #c1c1c1;
  /* SideBar */
  --secondary-color: #a9a9a9;
  /* SideBarWall */
  --tertiary-color: #8c8a8a;
  /* background where the notes are displayed */
  --background-color: #282c34;
  /* activated button */
  --activeButton-color: palegreen;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
